.page{
    display: flex;
    justify-content: center;
    height: 100vh;
    user-select: none;
}
.form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.link{
    width: 20%;
}
.fields{
    display: flex;
    flex-direction: column;
    width: 20%;
}
#person-img{
    width: 3%;
    height: auto;
}
#close-img{
    width: 2.5%;
    height: auto;
    align-self: flex-end;
    margin-right: 10%;
    margin-top: 1%;
}
h1{
    padding: 0;
    margin: 0;
}
input{
    width:auto;
    height: 4vh;
    outline:none;
}