.home-page{
    user-select: none;
}
.main-content-pod{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main-header{
    margin: 2% 0 2% 0;
}
.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}